@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FBEAEB;
  color: #9EE493;
}

h1 {
  color: #2E3C7E;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-next-idea {
  margin: 20% auto;
  background-color: #2E3C7E;
  color: white;
  margin: 1rem auto;
  min-width: 150px;
  min-height: 50px;
  border-radius: 5px;
  border-style: double;
  border-color: black;
  cursor: pointer;
  font-size: large;
}

.get-next-idea:hover {
  background-image: linear-gradient(to left, #2E3C7E, #FBEAEB);
  border-color: #2E3C7E;
}

.project-details {
  background-color: #2E3C7E;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90vh;
  border-radius: 1rem;
  padding: 5%;
  box-shadow: 10px 10px 10px 10px rgb(192,192,192);
}

.project-heading {
  align-self: center;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  font-size: 2rem;
  text-decoration: #9EE493 solid underline;
  margin-bottom: 2rem;
}

.project-quote, .project-level {
  display: block;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  padding: 2rem 0;
  border-top: 2px solid #6EA4BF;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}

.example-project {
  display: block;
  border-top: 0.2rem solid #6EA4BF;
  text-align: center;
  font-size: 1rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #9EE493;
}

a:hover {
  background-color: #6EA4BF;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  background-color: #6EA4BF;
  color: #2E3C7E;
}