@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fbeaeb;
  color: #9ee493;
}

h1,
h3 {
  color: #2e3c7e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-next-idea {
  margin: 20% auto;
  background-color: #2e3c7e;
  color: white;
  margin: 1rem auto;
  min-width: 150px;
  min-height: 50px;
  border-radius: 5px;
  border-style: double;
  border-color: black;
  cursor: pointer;
  font-size: large;
}

.get-next-idea:hover {
  background-image: linear-gradient(to left, #2e3c7e, #fbeaeb);
  border-color: #2e3c7e;
}

.project-details {
  background-color: #2e3c7e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90vh;
  border-radius: 1rem;
  padding: 5%;
  box-shadow: 10px 10px 10px 10px rgb(192, 192, 192);
}

.project-heading {
  font-size: 2rem;
}

.item-shadow {
  align-self: center;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  padding: 1rem;
  margin: 1rem;
}

.project-quote,
.project-level,
.skills-required,
.project-technology {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  text-align: left;
  font-size: 1rem;
  font-weight: 800;
}

.project-level,
.skills-required,
.project-technology,
.example-project {
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 0.1rem solid #6ea4bf;
  width: 100%;
}

.skills-label {
  margin-bottom: 1rem;
}

/* .project-level {
  border-top: 2px solid #6ea4bf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.skills-required {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.level-container {
  box-sizing: border-box;
  width: 80%;
  background-color: #fbeaeb;
 
}

.skills {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #2e3c7e;
}

.Beginner {
  width: 33%;
  background-color: #4caf50;
}
.Intermediate {
  width: 66%;
  background-color: #4caf50;
}
.Advanced {
  width: 100%;
  background-color: #4caf50;
}

.example-project {
  text-align: left;
  font-size: 1rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #9ee493;
}

a:hover {
  background-color: #6ea4bf;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  background-color: #6ea4bf;
  color: #2e3c7e;
}

.level {
  color: #9ee493;
  text-decoration: #9ee493 solid underline;
}

.frameworks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 0.5rem;
}

.framework {
  width: 7rem; /* or whatever width you want. */
  max-width: 7rem; /* or whatever width you want. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  color: white;
  /*clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
*/
}
